# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env
venv/
env/
*.env

# Media Files - DO NOT TRACK THESE
*.mp4
*.mov
*.avi
*.mp3
*.wav
*.m4a
*.flac

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb

# Project Folders
# Ignore the contents of these folders
uploads/*
outputs/*
temp_demucs_output/

# But keep the folders themselves (so they exist for the app)
# by not ignoring a .gitkeep file inside them.
!uploads/.gitkeep
!outputs/.gitkeep
!temp_demucs_output/.gitkeep

# System Files
.DS_Store